%mainButton {
  display: flex;
  align-items: center;
  min-height: 44px;
  padding: 0 37px;
  border-radius: 22px;

  font-weight: 700;
  line-height: 1.313;

  transition: color 250ms var(--timing-fn), box-shadow 250ms var(--timing-fn),
    background-color 250ms var(--timing-fn);

  & .main-button__icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;

    fill: currentColor;
  }
}

%modalButton {
  display: flex;
  align-items: center;
  min-height: 44px;
  border-radius: 22px;
  padding: 0 37px;
  margin: 0 auto;

  font-weight: 500;
  line-height: 1.313;
  background-color: var(--main-color);
  color: var(--tertiary-color);

  transition: background-color 250ms var(--timing-fn);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--secondary-color);
  }
}

%sectionSubtitle {
  font-family: var(--title-text);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.167;
  text-transform: uppercase;
  color: var(--secondary-color);

  @media screen and (min-width: 732px) {
    font-size: 26px;
    line-height: 1.154;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

%sectionTitle {
  font-family: var(--title-text);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-color);

  @media screen and (min-width: 732px) {
    font-size: 48px;
    line-height: 1.146;
  }

  @media screen and (min-width: 1024px) {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}

%modalTitle {
  font-family: var(--title-text);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--main-color);

  @media screen and (min-width: 732px) {
    font-size: 34px;
    line-height: 1.4;
  }
}

%modal {
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 10px;
  overflow: auto;

  background-color: var(--tertiary-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-fn);

  .backdrop.backdrop__is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
