:root {
  --main-text: 'DM Sans', sans-serif;
  --title-text: 'Titan One', sans-serif;

  --main-color: #fcfcfc;
  --secondary-color: #131313;

  // --accent-color: #0a8817;
  --accent-color: #0a2588;

  --contrasting-color: #f8d24e;
  --contrasting-color-alfa10: rgba(248, 210, 78, 0.1);

  // --background-main-color: #84a178;
  --background-main-color: #7887a1;

  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
