:root {
  --main-text: 'DM Sans', sans-serif;
  --title-text: 'Titan One', sans-serif;

  --main-color: #0029ff;
  --secondary-color: #298cff;
  --tertiary-color: #fcfcfc;
  --quaternary-color: #131313;

  // --accent-color: #f8d24e;
  --accent-color: #0f00e0;
  --accent-secondary-color: #cccccc;

  --background-main-color: #54a3ff;
  --background-secondary-color: #a4ceff;

  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
