<section class="location">
  <div class="container">
    <h2 class="location__title visually-hidden">Location</h2>
    <ul class="location__list">
      <li class="location__item">
        <h3 class="location__name location__name--cafe">Cafe</h3>
        <p class="location__city">Chicago</p>
        <p class="location__address">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <div class="location__decor-line"></div>
        <ul class="location__schedule">
          <li class="location__schedule-point">
            <p class="location__working-days">Monday - Friday</p>
            <p class="location__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__schedule-point">
            <p class="location__working-days">Saturday - Sunday</p>
            <p class="location__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="location__decor-line"></div>
        <ul class="location__contacts">
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="tel:+10777333000">
              +1(0) 777 333 000
            </a>
          </li>
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="mailto: mail@icecream.com">
              mail@icecream.com
            </a>
          </li>
        </ul>
      </li>

      <li class="location__item">
        <h3 class="location__name location__name--food-truck">FOOD TRUCK</h3>
        <p class="location__city">Los Angeles</p>
        <p class="location__address">
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </p>
        <div class="location__decor-line"></div>
        <ul class="location__schedule">
          <li class="location__schedule-point">
            <p class="location__working-days">Monday - Friday</p>
            <p class="location__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__schedule-point">
            <p class="location__working-days">Saturday - Sunday</p>
            <p class="location__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="location__decor-line"></div>
        <ul class="location__contacts">
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="tel:+10777333111">
              +1(0) 777 333 111
            </a>
          </li>
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="mailto: mail@icecream.com">
              mail@icecream.com
            </a>
          </li>
        </ul>
      </li>

      <li class="location__item">
        <h3 class="location__name location__name--cafe">Cafe</h3>
        <p class="location__city">New York</p>
        <p class="location__address">
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </p>
        <div class="location__decor-line"></div>
        <ul class="location__schedule">
          <li class="location__schedule-point">
            <p class="location__working-days">Monday - Friday</p>
            <p class="location__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__schedule-point">
            <p class="location__working-days">Saturday - Sunday</p>
            <p class="location__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="location__decor-line"></div>
        <ul class="location__contacts">
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="tel:+10777333222">
              +1(0) 777 333 222
            </a>
          </li>
          <li class="location__contacts-point">
            <a class="location__contacts-link" href="mailto: mail@icecream.com">
              mail@icecream.com
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="location__buttons">
      <li class="location__buttons-item">
        <button
          class="location__button location__button--location"
          type="button"
          aria-label="our location map"
        >
          Our Locations
          <svg class="main-button__icon">
            <use href="./images/sprite.svg#arrow-right-small"></use>
          </svg>
        </button>
      </li>
      <li class="location__buttons-item">
        <button
          class="location__button location__button--franchise"
          type="button"
          aria-label="Franchise window open"
        >
          Franchise
          <svg class="main-button__icon">
            <use href="./images/sprite.svg#arrow-right-small"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
