<div class="backdrop backdrop__is-hidden" data-location>
  <div class="modalLocation">
    <button
      class="modal__close-button"
      type="button"
      aria-label="Modal close button"
      data-location-close
    >
      <svg class="modal__close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <h2 class="modalLocation__title">Our Locations</h2>
    <iframe
      class="modalLocation__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1656.099816133828!2d-118.4111914!3d33.8845121!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eb826efffd%3A0x3688885d993893ce!2sManhattan%20Beach%20Creamery!5e0!3m2!1sen!2suk!4v1700526200687!5m2!1sen!2suk"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <!-- <button
        class="modalLocation__button"
        type="button"
        aria-label="big map with our locations"
        data-modal-locationButton
      >
        Open map
      </button> -->
  </div>
</div>
