<div class="backdrop backdrop__is-hidden" data-location>
  <div class="modalLocation">
    <button
      class="modal__close-button"
      type="button"
      aria-label="Modal close button"
      data-location-close
    >
      <svg class="modal__close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="">
      <h2 class="modalLocation__title">Our Locations</h2>
      <div class="modalLocation__mapCover">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1107.8708928812914!2d-118.41119143865093!3d33.88451211682255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eb826efffd%3A0x3688885d993893ce!2sManhattan%20Beach%20Creamery!5e0!3m2!1suk!2suk!4v1700513909315!5m2!1suk!2suk"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!-- <button
        class="modalLocation__button"
        type="button"
        aria-label="big map with our locations"
        data-modal-locationButton
      >
        Open map
      </button> -->
    </div>
  </div>
</div>
