<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__flex-cover">
          <picture>
            <source
              srcset="
                ./images/products/desktop/iceCream-d.webp    335w,
                ./images/products/desktop/iceCream-d@2x.webp 670w
              "
              sizes="335px"
              type="image/webp"
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/products/tablet/iceCream-t.webp    220w,
                ./images/products/tablet/iceCream-t@2x.webp 440w
              "
              sizes="220px"
              type="image/webp"
              media="(min-width: 732px)"
            />
            <source
              srcset="
                ./images/products/tablet/iceCream-t.webp    249w,
                ./images/products/tablet/iceCream-t@2x.webp 498w
              "
              sizes="249px"
              type="image/webp"
            />

            <img
              class="products__img"
              src="./images/products/desktop/iceCream-d.png"
              alt="ice cream"
            />
          </picture>
          <h3 class="products__name">ice cream</h3>
          <div class="products__decor-wrap">
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
          </div>
          <p class="products__desc">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          class="products__btn"
          type="button"
          aria-label="Product card opening button"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite.svg#arrow-right-long"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__flex-cover">
          <picture>
            <source
              srcset="
                ./images/products/desktop/iceCoffee-d.webp    335w,
                ./images/products/desktop/iceCoffee-d@2x.webp 670w
              "
              sizes="335px"
              type="image/webp"
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/products/tablet/iceCoffee-t.webp    220w,
                ./images/products/tablet/iceCoffee-t@2x.webp 440w
              "
              sizes="220px"
              type="image/webp"
              media="(min-width: 732px)"
            />
            <source
              srcset="
                ./images/products/tablet/iceCoffee-t.webp    249w,
                ./images/products/tablet/iceCoffee-t@2x.webp 498w
              "
              sizes="249px"
              type="image/webp"
            />

            <img
              class="products__img"
              src="./images/products/desktop/iceCoffee-d.png"
              alt="ice coffee"
            />
          </picture>
          <h3 class="products__name">ice coffee</h3>
          <div class="products__decor-wrap">
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
          </div>
          <p class="products__desc">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          class="products__btn"
          type="button"
          aria-label="Product card opening button"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite.svg#arrow-right-long"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__flex-cover">
          <picture>
            <source
              srcset="
                ./images/products/desktop/milkshakes-d.webp    335w,
                ./images/products/desktop/milkshakes-d@2x.webp 670w
              "
              sizes="335px"
              type="image/webp"
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/products/tablet/milkshakes-t.webp    220w,
                ./images/products/tablet/milkshakes-t@2x.webp 440w
              "
              sizes="220px"
              type="image/webp"
              media="(min-width: 732px)"
            />
            <source
              srcset="
                ./images/products/tablet/milkshakes-t.webp    249w,
                ./images/products/tablet/milkshakes-t@2x.webp 498w
              "
              sizes="249px"
              type="image/webp"
            />

            <img
              class="products__img"
              src="./images/products/desktop/milkshakes-d.png"
              alt="milkshakes"
            />
          </picture>
          <h3 class="products__name">milkshakes</h3>
          <div class="products__decor-wrap">
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
            <span class="products__decor-dots"></span>
          </div>
          <p class="products__desc">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          class="products__btn"
          type="button"
          aria-label="Product card opening button"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite.svg#arrow-right-long"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
