<section class="reviews">
  <div class="container">
    <h2 class="reviews__title visually-hidden">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__img-cover"></div>
        <div class="reviews__text-cover">
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.

            <svg class="reviews__quotes">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
          </p>
        </div>

        <div class="reviews__decor-wrap">
          <span class="reviews__decor-dots"></span>
          <span class="reviews__decor-dots"></span>
          <span class="reviews__decor-dots"></span>
        </div>
        <p class="reviews__desc">Emily, Los Angeles</p>
        <div class="reviews__slider-wrap">
          <span
            class="reviews__slider-dots reviews__slider-dots--active"
          ></span>
          <span class="reviews__slider-dots"></span>
          <span class="reviews__slider-dots"></span>
        </div>
      </li>
    </ul>
  </div>
</section>
