.logo {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;

  font-family: var(--title-text);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0%;

  fill: var(--main-color);

  @media screen and (max-width: 731px) {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.logo__icon {
  width: 28px;
  height: 55px;
  margin-right: 12px;
}
