.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: auto;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);

  transition: opacity 250ms var(--timing-fn);

  &.backdrop__is-hidden {
    pointer-events: none;

    opacity: 0;
  }
}

.modal__close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;

  border: 1px solid transparent;
  color: var(--secondary-color);

  &:hover,
  &:focus,
  &:active {
    border-color: var(--main-color);
    color: var(--main-color);
  }
}

.modal__close-icon {
  width: 16px;
  height: 16px;

  fill: currentColor;
}
