.header {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;

  padding-top: 22px;

  & .container {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  margin: 0 auto;
}

.header__list {
  display: flex;
  column-gap: 28px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.header__link {
  padding: 15px 0;

  font-weight: 700;
  line-height: 1.313;

  color: var(--tertiary-color);

  transition: color 250ms var(--timing-fn);

  &:hover,
  &:focus,
  &:active {
    color: var(--main-color);
  }
}

.header__burger.btn-toggle {
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  border-color: transparent;
  outline: none;

  @media screen and (min-width: 732px) {
    margin-right: 36px;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.header__button {
  @extend %mainButton;

  color: var(--main-color);
  background-color: var(--tertiary-color);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }

  @media screen and (max-width: 731px) {
    display: none;
  }
}
