.hero {
  padding-top: 90px;

  background-color: var(--background-main-color);
  background-repeat: no-repeat;
  background-position: center bottom;

  @media screen and (min-width: 732px) and (max-width: 1023px) {
    background-size: 768px;

    background-image: url('../images/hero/tablet/dots-t.svg');
  }

  @media screen and (min-width: 1024px) {
    background-size: 1200px;
    background-image: url('../images/hero/desktop/dots-d.svg');
  }

  & .container {
    @media screen and (max-width: 731px) {
      overflow: hidden;
    }

    @media screen and (min-width: 732px) {
      display: flex;
    }
  }
}

.title-cover {
  @media screen and (max-width: 731px) {
    position: absolute;
    z-index: 1;
    top: 210px;
  }

  @media screen and (min-width: 732px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 62px;
    margin-bottom: 50px;
  }
}

.hero__title {
  font-family: var(--title-text);
  font-size: 26px;
  line-height: 1.154;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--tertiary-color);

  @media screen and (min-width: 732px) {
    font-size: 22px;
    line-height: 1.136;
  }

  @media screen and (min-width: 1024px) {
    font-size: 38px;
    line-height: 1.158;
  }

  &--default {
    display: block;
    max-width: 200px;

    @media screen and (min-width: 1024px) {
      max-width: 300px;
    }
  }

  &--accent {
    display: block;

    font-size: 48px;
    line-height: 0.965;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color);

    @media screen and (min-width: 732px) {
      font-size: 34px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 58px;
      line-height: 1.138;
    }
  }
}

.hero__list {
  display: flex;
  margin-top: 20px;
}

.hero__item {
  &:nth-child(1) {
    margin-right: 10px;
  }
}

.hero__main-link {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 20px;

  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;

  transition: color 250ms var(--timing-fn),
    background-color 250ms var(--timing-fn);

  &--products {
    background-color: var(--main-color);
    color: var(--tertiary-color);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &--about {
    background-color: var(--tertiary-color);
    color: var(--main-color);

    &:hover,
    &:focus {
      background-color: var(--accent-secondary-color);
    }
  }
}

.hero__desc-cover {
  display: flex;
  align-items: center;

  @media screen and (max-width: 731px) {
    display: none;
  }
}

.hero__desc-wrap {
  margin-left: 16px;

  @media screen and (min-width: 1024px) {
    margin-left: 5px;
  }
}

.hero__desc {
  width: 165px;

  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--tertiary-color);
}

.hero__desc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 6px;

  color: var(--tertiary-color);

  transition: background-color 250ms var(--timing-fn);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--secondary-color);
  }
}

.hero__desc-icon {
  width: 30px;
  height: 16px;

  fill: currentColor;
}

.hero__desc-img {
  animation-name: iceCream-dish;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes iceCream-dish {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero__wrapper-middle {
  position: relative;

  margin-top: 20px;

  @media screen and (max-width: 480px) {
    @include adaptiveValue(margin-left, 100, 260, 320, 480);
  }

  @media screen and (min-width: 481px) and (max-width: 731px) {
    margin-left: 200px;
  }

  @media screen and (min-width: 732px) {
    margin-left: 50px;
  }

  @media screen and (min-width: 1024px) {
    @include adaptiveValue(margin-left, 180, 300, 1024, 1200);

    @media screen and (min-width: 1200px) {
      margin-left: 300px;
    }
  }

  &::before {
    content: '';

    position: absolute;
    top: -20px;
    left: -90px;

    display: block;
    width: 346px;
    height: 346px;
    border-radius: 50%;

    background-color: var(--secondary-color);

    @media screen and (min-width: 732px) {
      top: -62px;
      left: -84px;

      width: 360px;
      height: 360px;
    }

    @media screen and (min-width: 1024px) {
      top: -62px;
      left: -122px;

      width: 538px;
      height: 538px;
    }
  }
}

.hero__main-img {
  position: relative;
}

.hero__mobile-dots {
  position: absolute;
  left: -60px;
  bottom: 0;

  min-width: 320px;

  @media screen and (min-width: 732px) {
    display: none;
  }
}

.hero__wrapper-right {
  position: relative;

  margin-left: auto;

  @media screen and (max-width: 731px) {
    display: none;
  }
}

.hero__achievements {
  margin-top: 10px;
}

.hero__achievements-point {
  position: relative;
  right: 10px;
  z-index: 1;

  text-align: right;

  @media screen and (min-width: 1024px) {
    right: 18px;
  }

  &:first-child {
    margin-bottom: 13px;
  }

  &::after {
    content: '';

    position: absolute;
    top: -2px;
    right: -10px;
    z-index: -1;

    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: var(--tertiary-color);

    @media screen and (min-width: 1024px) {
      top: -4px;
      right: -18px;

      width: 30px;
      height: 30px;
    }
  }
}

.hero__achievements-counter {
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.143;
  font-weight: 400;

  color: var(--main-color);

  @media screen and (min-width: 1024px) {
    right: 18px;

    font-size: 46px;
    line-height: 1.152;
  }
}

.hero__achievements-desc {
  font-size: 10px;
  line-height: 1.25;
  font-weight: 400;

  color: var(--tertiary-color);

  @media screen and (min-width: 1024px) {
    font-size: 14px;
    line-height: 1.286;
  }
}
